# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
*.db
*.pkl
*.env
.env*
venv/
ENV/
.venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# GitHub Actions
.github/last_pulse.txt
